.loginform{
    width: 250px;
    height: auto;
    border: 1px solid lightblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px;
    box-shadow: 2px 2px 5px lightgrey,-2px -2px 5px lightgrey;
    transition: 1.2s;
    margin-top: 40px;
    background-color: transparent;
}

#log-btn{
    width: auto;
    height: 30px;
    margin-top: 10px;
    text-align: center;
    font-weight: bold;
    transition-duration: 1s;
    border: none;
    background-color: transparent;
}